<% content_for :page_title do %>
  <%= "for &ldquo;#{@menu.title}&rdquo;".html_safe if @menu %>
<% end %>

<ul class="cms-menu">
  <%= render_menu_tree(@menu) do |node|
    actions = []
    actions << link_to("+ Add child", new_admin_menu_item_url(menu_id: params[:menu_id], parent_id: node.id))
    actions << link_to("/ Edit", edit_admin_menu_item_url(node))
    actions << link_to("x Delete", admin_menu_item_url(node), method: "delete")
    r = %(<div class="wrap">#{link_to(node.title, node.url)})
    r << " - #{node.url}"
    r << %(<div class="actions">).html_safe
    r << actions.join(' | ')
    r << %(</div></div>).html_safe
  end
  %>
</ul>
