/*
 *= require admin/spree_backend
*/

.input label {
  display: block;
}

input.file {
  margin-bottom: 10px;
}

.input.withError input {
  border-color: #fabcbd;
}
.input.withError label {
  color: #f57e80;
}
.input.withError .formError {
  display: block;
}


.cms-menu {
  border-left: 1px solid #eee;
  padding-left: 1px;
}

.cms-menu li {
  list-style: none;
  padding-left: 20px;
}

.cms-menu > li {
  padding-left: 0;
}

.cms-menu li.unpublished .wrap {
  background: #aaa;
}

.cms-menu .wrap {
  background: #ddd;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1px;
}
.cms-menu .wrap:hover, .cms-menu li.unpublished .wrap:hover {
  background: #ff9;
}
.cms-menu .actions {
  float: right;
}


.fields .icon-remove {
  float: right;
}

input.boolean {
  margin-right: 5px;
}


/* find or select image styles */
#cms-image-find-or-create {
  margin: 20px;
  h3 {
    margin: 8px 0;
    a.on {
      color: #9fc820;
    }
  }
  .hide-on-load {
    display: none;
  }
}

#cms-image-find {
  li {
    list-style: none;
    padding: 10px;
    position: relative;
    height: 70px;
    line-height: 50px;
    img {
      max-width: 50px;
      max-height: 50px;
    }
    &:hover img {
      max-height: none;
      max-width: none;
      position: absolute;
      top: 10px;
      z-index: 100;
      border: 3px solid #fff;
    }
    &.even {
      background: #f8f8f8;
    }
    &.odd {
      background: #ddd;
    }
    &.with-image {
      img {
        float: left;
      }
      div {
        float: right;
      }
    }
    .button {
      line-height: 1.2;
    }
  }
}

#iframe-overlay {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#iframe-overlay iframe {
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -300px;
}
