<table class="index" id="listing_<%= controller.controller_name %>">
  <%= render 'table_head' %>
  <tbody>
    <%# # NOTE: for some reason, render(@collection) doesn't pull from the admin namespace. this is a workaround %>
    <% @collection.each do |obj| %>
      <%= render partial: "spree/admin/#{obj.class.name.split('::').last.underscore.pluralize}/object", object: obj, context: :table_row %>
    <% end %>
  </tbody>
</table>
